# Blacklist files/folders in same directory as the .gitignore file
.vs/
Debug/
Release/
*.xml

# Whitelist some files


# Whitelist our folders we want to sync
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
