# Blacklist files/folders in same directory as the .gitignore file
/*


# Whitelist some files
!.*
!*.cppproj
!*.atsln
!*.c
!*.cpp
!*.h
!readme*
!*.bat

# Whitelist our folders we want to sync
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!doc/
!src/
