*               text=auto
*.c             text eol=lf
*.cpp           text eol=lf
*.h             text eol=lf
*.sh            text eol=lf
*.txt           text eol=lf
*.service       text eol=lf
*.in            text eol=lf
ohook           text eol=lf
nlhook          text eol=lf
