*.class
# Package Files #
*.jar
*.war
playground/src/libundo/undo/Makefile.am
playground/src/libundo/docs/Makefile.am
playground/src/libundo/Makefile.am
playground/Makefile
NonMaps/Makefile
NonMaps/war/*
NonMaps/jars/gwt-ll.dll
NonMaps/war/gwt_bree/
NonMaps/war/*.png
NonMaps/war/*.svg
NonMaps/war/WEB-INF/deploy/nonmaps/symbolMaps/
NonMaps/war/basket.png
NonMaps/war/eddie.png
NonMaps/war/gitlog.txt
NonMaps/war/nonmaps/*.cache.html
NonMaps/war/nonmaps/css/
NonMaps/war/nonmaps/hosted.html
NonMaps/war/nonmaps/nonmaps.nocache.js
NonMaps/war/parameter-descriptions/
NonMaps/obj
NonMaps/.classpath
NonMaps/.settings/com.google.gwt.eclipse.core.prefs
NonMaps/.settings/org.eclipse.wst.common.project.facet.core.xml
NonMaps/gwt-unitCache/
NonMaps/apt_generated/
NonMaps/war/WEB-INF/deploy/
NonMaps/war/WEB-INF/classes/
NonMaps/gwt/
NonMaps/gwt-unitCache/
NonMaps/www-test/
NonMaps/gwt-tmp/
NonMaps/.settings
NonMaps/.project
NonMaps/NonMaps.cbp
NonMaps/CMakeFiles
NonMaps/cmake_install.cmake
playground/CMakeCache.txt
playground/CMakeFiles
playground/.idea
playground/.project
playground/playground
.idea
.project
