CMakeLists.txt.user
*.class
# Package Files #
*.jar
*.war
.idea
.project
.meteor 
node_modules
projects/web/static/nonmaps/target
projects/playground/src/libundo/undo/Makefile.am
projects/playground/src/libundo/docs/Makefile.am
projects/playground/src/libundo/Makefile.am
projects/playground/Makefile
projects/NonMaps/Makefile
projects/NonMaps/war/*
projects/NonMaps/jars/gwt-ll.dll
projects/NonMaps/war/gwt_bree/
projects/NonMaps/war/*.png
projects/NonMaps/war/*.svg
projects/NonMaps/war/WEB-INF/deploy/nonmaps/symbolMaps/
projects/NonMaps/war/basket.png
projects/NonMaps/war/eddie.png
projects/NonMaps/war/gitlog.txt
projects/NonMaps/war/nonmaps/*.cache.html
projects/NonMaps/war/nonmaps/css/
projects/NonMaps/war/nonmaps/hosted.html
projects/NonMaps/war/nonmaps/nonmaps.nocache.js
projects/NonMaps/war/parameter-descriptions/
projects/NonMaps/obj
projects/NonMaps/.classpath
projects/NonMaps/.settings/com.google.gwt.eclipse.core.prefs
projects/NonMaps/.settings/org.eclipse.wst.common.project.facet.core.xml
projects/NonMaps/gwt-unitCache/
projects/NonMaps/apt_generated/
projects/NonMaps/war/WEB-INF/deploy/
projects/NonMaps/war/WEB-INF/classes/
projects/NonMaps/gwt/
projects/NonMaps/gwt-unitCache/
projects/NonMaps/www-test/
projects/NonMaps/gwt-tmp/
projects/NonMaps/.settings
projects/NonMaps/.project
projects/NonMaps/NonMaps.cbp
projects/NonMaps/CMakeFiles
projects/NonMaps/cmake_install.cmake
projects/NonMaps/target
cmake-build-debug
cmake-build-release
projects/playground/CMakeCache.txt
projects/playground/CMakeFiles
projects/playground/.idea
projects/playground/.project
projects/playground/playground
projects/NonMaps/build/
projects/parameter-db/src/.~lock.ParameterList_1.7B.ods#
projects/epc/web-ui/target
projects/epc/web-ui/.classpath
projects/epc/web-ui/.settings/
projects/epc/web-ui/.vscode/settings.json
