CMakeLists.txt.user
*.class
# Package Files #
*.jar
*.war
.idea
.project
projects/web/c16/src/.meteor
projects/web/c16/src/node_modules
.meteor 
node_modules
projects/web/static/nonmaps/target
projects/playground/src/libundo/undo/Makefile.am
projects/playground/src/libundo/docs/Makefile.am
projects/playground/src/libundo/Makefile.am
projects/playground/Makefile
projects/web/static/nonmaps/Makefile
projects/web/static/nonmaps/war/*
projects/web/static/nonmaps/.vscode
projects/web/static/nonmaps/war/*
projects/web/static/nonmaps/jars/gwt-ll.dll
projects/web/static/nonmaps/war/gwt_bree/
projects/web/static/nonmaps/war/*.png
projects/web/static/nonmaps/war/*.svg
projects/web/static/nonmaps/war/WEB-INF/deploy/nonmaps/symbolMaps/
projects/web/static/nonmaps/war/basket.png
projects/web/static/nonmaps/war/eddie.png
projects/web/static/nonmaps/war/gitlog.txt
projects/web/static/nonmaps/war/nonmaps/*.cache.html
projects/web/static/nonmaps/war/nonmaps/css/
projects/web/static/nonmaps/war/nonmaps/hosted.html
projects/web/static/nonmaps/war/nonmaps/nonmaps.nocache.js
projects/web/static/nonmaps/war/parameter-descriptions/
projects/web/static/nonmaps/obj
projects/web/static/nonmaps/.classpath
projects/web/static/nonmaps/.settings/com.google.gwt.eclipse.core.prefs
projects/web/static/nonmaps/.settings/org.eclipse.wst.common.project.facet.core.xml
projects/web/static/nonmaps/gwt-unitCache/
projects/web/static/nonmaps/apt_generated/
projects/web/static/nonmaps/war/WEB-INF/deploy/
projects/web/static/nonmaps/war/WEB-INF/classes/
projects/web/static/nonmaps/gwt/
projects/web/static/nonmaps/gwt-unitCache/
projects/web/static/nonmaps/www-test/
projects/web/static/nonmaps/gwt-tmp/
projects/web/static/nonmaps/.settings
projects/web/static/nonmaps/.project
projects/web/static/nonmaps/NonMaps.cbp
projects/web/static/nonmaps/CMakeFiles
projects/web/static/nonmaps/cmake_install.cmake
projects/web/static/nonmaps/target
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
projects/playground/CMakeCache.txt
projects/playground/CMakeFiles
projects/playground/.idea
projects/playground/.project
projects/playground/playground
projects/web/static/nonmaps/build/
projects/parameter-db/src/.~lock.ParameterList_1.7B.ods#
projects/epc/web-ui/target
projects/epc/web-ui/.classpath
projects/epc/web-ui/.settings/
projects/epc/web-ui/.vscode/settings.json
projects/shared/parameter-db/src/.~lock.ParameterList_1.7B.ods#
# yaml experiments #
projects/shared/configuration/node_modules
projects/shared/configuration/generated
projects/shared/configuration/lib/*.js
