@font-face {
  font-family: 'nonlinearfont';
	font-style: normal;
	font-weight: 400;
  src: url('./SourceSansProLW25-Regular.otf');
  unicode-range: U+E000-E201;
}

@font-face {
  font-family: 'nonlinearfont2';
	font-style: normal;
	font-weight: 400;
  src: url('./SourceSansProLW25-Regular.otf');
}


.collapsed {
  display: none;
}

.full {
  display: block;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 13, 13, 0.5);
  z-index: 200;
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "nonlinearfont2";
}

#close {
  color: red;
  width: 50%;
  margin-left: 25%;
}

#close:hover {
  color: lightred;
}

.container {
  display: inline-flex;
}

.setting-item {
  background-color: rgb(100,100,100);
  border-style: solid;
  border-width: thin;
  border-color: white;
  width: 25%;
  height: 100%;
}

#canvas {
  width: 100%;
  height: 100%;
  padding: 8px;
  margin: -8px;
}

#settings-burger {
  width: 5%;
  height: 100%;
  background-color: black;
  cursor: pointer;
}

#settings-burger:hover {
  background-color: grey;
}

#settings-burger-content {
  width: 5%;
  background-color: green;
}

#interpolation-step-label{
  width: 100%;
  text-align: center;
  margin: 0;
}

.step-range {
  height: 50%;
  width: 10%;
  margin-left: 45%;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}

h1 {
  overflow-wrap: break-word;
  text-align: center;
}

.triangle-left {
    width: 2%;
    height: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    position: absolute;
    left: 23%;
    top: 40%;
}

.triangle-left:hover:after {
  border-right: 500px solid rgb(187,187,187);
}

.triangle-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;

    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 500px solid rgb(180,180,180);
}

.sel-input-form {
  margin-left: 20%;
}
