@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
         url('TTF/SourceSansPro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'),
         url('TTF/SourceSansPro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('TTF/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'),
         url('TTF/SourceSansPro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'),
         url('TTF/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'),
         url('TTF/SourceSansPro-SemiboldIt.ttf') format('truetype');
}

/* LW25 */

@font-face{
    font-family: 'Source Sans Pro LW25';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansProLW25-Light.otf.woff') format('woff')
/*          url('SourceSansProLW25-Light.ttf') format('truetype') */;
}

@font-face{
    font-family: 'Source Sans Pro LW25';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansProLW25-Regular.otf.woff') format('woff')
/*          url('SourceSansProLW25-Regular.ttf') format('truetype') */;
}

@font-face{
    font-family: 'Source Sans Pro LW25';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('WOFF/OTF/SourceSansProLW25-Semibold.otf.woff') format('woff')
/*          url('SourceSansProLW25-Semibold.ttf') format('truetype') */;
}