@font-face {
  font-family: "CanvasFont_UNICODE";
  src: url('SSP-LW25-Regular.otf') format('opentype');
  unicode-range: U+E100-E105;
}

@font-face {
  font-family: "CanvasFont";
  src: url('SSP-LW25-Regular.otf') format('opentype');
}
