/* enhancements - styling */

/* textblock enhancements for headers, notes and blocked elements */
/* .txt-block {
	text-align: justify;
} */

/*
.txt-block h3 {
	font-weight: bold;
}

.txt-block h3.blocked {
	color: #3368A7;
}

.txt-block h3.note {
	font-style: italic;
}

.txt-block ul li.blocked {
	color: #3368A7;
}
*/

/* plotting and control input stylings (shaper, modulation) */

canvas.plot {
	position: relative;
	display: block;
	width: 100%;
	height: 250px;
}

div.ctrl-panel {
	display: block;
	position: relative;
	width: 100%;
	padding: 0.5em;
	text-align: center;
}
div.control {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-right: 0.5em;
}
div.control header {
	display: block;
	position: relative;
	padding: 0.25em;
	font-weight: 400;
}
div.control input.horiSlider {
	-webkit-appearance: slider-horizontal;
}
div.control input.vertSlider {
	-webkit-appearance: slider-vertical;
}
div.control footer {
	font-size: 85%;
	font-style: italic;
	padding: 0.25em;
}