@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    src: url('OTF/SourceSansProLW00-Light.otf') format('opentype');
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    src: url('OTF/SourceSansProLW00-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: normal;
  src: url('OTF/SourceSansProLW00-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  src: url('OTF/SourceSansPro-LightIt.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: italic;
  src: url('OTF/SourceSansPro-RegularIt.otf') format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  src: url('OTF/SourceSansPro-SemiBoldIt.otf') format('opentype');
}
