/* changed */
body {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
	font-family: 'SSP-LW00';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

#pane {
    position: absolute;
    width: 80vw;
    height: 40vw;
    color: white;
    background-color: black;
    text-align: center;
    user-select: none;
    touch-action: none;
}

#bars {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#waveform {
    position: absolute;
    background-color: #333;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#selected-range {
    top: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
    opacity: 0.5;
    pointer-events: none;
}

#range-selector {
    width: 100%;
    left: 0;
    top: 25%;
    height: 50%;
    position: absolute;
    background-color: #999;
    opacity: 0.5;
}

#selected-range .buttons {
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* changed */
#info {
	font-size: 110%;
	line-height: 105%;
	color: #ddd;	
    position: absolute;
    left: 10px;
    top: 10px;
    background: rgba(128, 128, 128, 0.5);
	box-shadow: #222 1px 1px 3px;
    padding: 2px 7px;
    border: 1px solid #888;
    border-radius: 3px;
}

#available-frames .first:after {
    content: " – ";
}

/* changed */
#options {
	font-size: 250%;
	color: #ccc;
    position: absolute;
    display: flex;
    right: 10px;
    top:0;
	text-shadow: #000 2px 2px 5px;
}

/* new */
#options span {
	padding: 3px;
}
/* * */

/* changed */
#zoom {
	font-size: 200%;
	text-shadow: #000 2px 2px 5px;	
	color: #ccc;
    position: absolute;
    display: flex;
    right: 15px;
    bottom: 45px; 
}

/* new */
#zoom span {
	padding: 5px;
}
#zoom span:hover {
	color: #fff;
}
#zoom span:active {
	color: #888;
}
/* * */


#toggle-playback.paused {
    color: white;
}

#toggle-playback.paused:hover {
    text-shadow: 0px 0px 3px white;
}

#toggle-playback.playing:hover {
    text-shadow: 0px 0px 3px red;
}

#toggle-playback.playing {
    color: red;
}

#toggle-recording.paused {
    color: white;
}

#toggle-recording.recording {
    color: red;
}

#toggle-recording.paused:hover {
    text-shadow: 0px 0px 3px white;
}

#toggle-recording.recording:hover {
    text-shadow: 0px 0px 3px red;
}

.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

.clipping {
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#play-pos {
    background-color: green;
    width: 1px;
    height: 100%;
    position: absolute;
    left: -100px;
}

#selected-range-times {
    color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#one-border {
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}

#other-border {
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: black;
}

/* changed */
#one-handle, #other-handle {
    position: absolute;
    width: 1cm;
    height: 1cm;
    left: -0.5cm;
    top: calc(50% - 0.5cm);
    background-color: darkgray;
    border: 1px solid black;
    pointer-events: all;
    border-radius: 5px;
}

#scrollbar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1cm;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

#scrollbar-handle {
    position: absolute;
    left: 40%;
    width: 30%;
    min-width: 3cm;
    height: 100%;
    background-color: rgba(86, 135, 210, 0.7);
    border-radius: 3px; 
    border: 1px solid #000;
    box-sizing: border-box;  
}

#scrollbar-handle-left {
    position: absolute;
    left: 0;
    width: 1cm;
    height: 100%;
    border: 1px solid #000;
    border-radius: 3px;
    background: #888 center center no-repeat;
    background-image: url(img/sb-handle-top-a.svg);
	box-sizing: border-box;
}

#scrollbar-handle-right {
    position: absolute;
    right: 0cm;
    width: 1cm;
    height: 100%;
    background-color: #444;
    border: 1px solid #000;
    border-radius: 3px;   
    background: #888 center center no-repeat;
    background-image: url(img/sb-handle-top-a.svg);
	box-sizing: border-box;
}
