div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;					
}

/*****************************/
/* elements */
/*****************************/

* {
	box-sizing: border-box;
}

html {
	color: #434343;
	background-color: #090909;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'SSP-LW00';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
	font-size: 17px;
	line-height: 1.3;
	color: #ddd;
	background-color: #090909;
	min-height: 100%;
}

/*
@media (max-width: 900px) {
	body {
		font-size: 17px;
		line-height: 1.3;
	}
}
*/

img {
	border: 0px;
	display: block;
	max-width: 100%;
	margin: 1em 0em;
}

.img-zoom-a {
	transform: scale(1);
	transition: transform .2s ease;
}

.img-zoom-a:hover {
	transform: scale(1.5);
	transition: transform .2s ease;
}

.img-zoom-b {
	transform: scale(1);
	transition: transform .2s ease;
}

.img-zoom-b:hover {
	transform: scale(1.8);
	transition: transform .2s ease;
}

/* header home link */
h1 {
	font-size: 130%;
	font-weight: 400;
}

h2 {
	font-size: 150%;
	margin-bottom: 2em;
	font-weight: 400;
	text-align: center;
}

h3 {
	font-size: 130%;
    font-weight: 400;
	text-align: left;
}

h4 {
	font-size: 115%;
	font-weight: 400;
}

h5 {
	font-size: 105%;
	font-weight: 400;
}

h6 {
	font-size: 110%;
	font-weight: 400;
	text-align: left;
}

p {
	margin: 0px;
	padding: 0px;
}

i {
	font-style: italic;
}


strong {
	font-weight: 600;
}

/* ui action header */
/* ui navi last element ::before triangle */
b {
	font-weight: 400;
}

em {
	color: #D4C9A5;
	font-style: normal;
}

small {
	font-size: 80%;
	vertical-align: baseline;
}

.small {
	font-size: 80%;
	vertical-align: baseline;
}

/* mounting panel unit step numbers */
.large {
	font-size: 110%;
	vertical-align: baseline;
}

ol {
	margin: 0;
	list-style: none;
}

ul {
	margin: 0;
	list-style: none;
}

.content {
	margin-bottom: 2em;
}

.content > li {
	margin-bottom: .5em;	
}

.content li ol {
	margin-top: .4em;	
}

.content li ol li {
	margin-left: 1.8em;	
/* 	margin-bottom: 0.5em; */
}



a {
	color: #3368A7;
	text-decoration: none;
	outline: none;
/* 	border-bottom: none; */
}

a:focus {
	color: #3D79C0;
	text-decoration: none;
	outline: 1px solid #3D79C0;
/* 	border-bottom: none; */
}

a:link {
	color: #9ECAFF;
	text-decoration: none;
	outline: none;
/* 	border-bottom: none; */
}

a:visited {
	color: #9ECAFF;
	text-decoration: none;
	outline: none;
/* 	border-bottom: none; */
}

a:hover {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a:active {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a img:hover {
	opacity: 0.5;
}

iframe {
	max-width: 100%;
	width: 100%;
}

/* table head: */
caption {
	background-color: #b4b4b4;
	color: #333;	
	padding: 0.2em 0.5em;
	font-weight: 400;
}

/*****************************/
/* !wrapper & main-content */
/*****************************/

#main-content {
	width: 100%;
	margin: 0em;
	padding: 2em 3em 3em 3em;
	position: relative;
	height: 100%;
}

/*****************************/
/* !header */
/*****************************/

#header {
	width: 100%;
	height: 5em;
	padding: 0px 0px;
	margin: 0em auto;
}

#header h1 {
	margin: 0em auto;
	width: 266px;
}

#header a {
	height: 60px;
	width: 266px;
	background: rgba(0, 0, 0, 0) url("images/header-logotype.png") no-repeat center center;
	position: relative;
	text-decoration: none;
	outline: medium none;
	border: none;
	color: transparent;
	text-indent: -200%;
	z-index: 2;
	display: inline-block;
	margin: 1.1em auto;
}

/*****************************/
/* !footer */
/*****************************/

#footer {
	width: 100%;
	margin: 0em;
	padding: 1em;
	position: absolute;
	bottom: 0px;
}


#footer p {
	font-size: 85%;	
}

/*****************************/
/* !nav */
/*****************************/

.nav-bc {
	background-color: #222;
	margin: 1em 0em 0.5em 0em; 
	padding: .2em;
	text-align: center;
	border: 1px solid #767676;
	border-left: none;
	border-right: none;
	font-weight: 400;
}

.nav-bc b {
	font-weight: 400;
	color: #ddd;
}

.nav-bc b::before { 
  content: "▶";
  font-size: 70%;
  margin: 0px 10px;
}

.nav-bc a::before { 
  content: "▶";
  font-size: 70%;
  margin: 0px 10px;
}

.nav-bc a:first-child::before {
	display: none;
}

.nav-bc a:last-child::after {
	content: "▶";
	margin-right: 10px;
}

.nav {
	margin: 0em 3em; 
	padding-top: .2em;
	height: 2em;
}

.navleft {
	display: inline-block;
	float: left;
	text-align: center;
}

.navleft a::before { 
  content: "◀";
  font-size: 70%;
  margin-right: 10px;
}

.navright {
	display: inline-block;
	float: right;
	text-align: center;
}

.navright a::after { 
  content: "▶";
  font-size: 70%;
  margin-left: 10px;
}

.nav h1 {
	text-align: right;
	display: inline-block	
}

/***********************/
/* !row */
/***********************/

.row {
	margin-top: 0em;
	margin-bottom: 0em;
}

/***********************/
/* !col-1-1 */
/***********************/

.col-1-1 {width: 100%; padding-left: 6px; padding-right: 6px; padding-top: 0px; padding-bottom: 6px; float: left;}
@media (max-width: 800px) {.col-1-1 {width: 75%; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 6px; margin-left: 12.5%; margin-right: 12.5%;}}
@media (max-width: 600px) {.col-1-1 {width: 100%; padding-left: 0.5em; padding-right: 0.5em; padding-top: 0px; padding-bottom: 6px; margin-left: 0%; margin-right: 0%;}}

.col-1-1-f {width: 100%; padding-bottom: 6px;}

/***********************/
/* !col-1-3 */
/***********************/

.col-1-3-l {width: 33.33333333%; padding-left: 6px;	padding-right: 2px; padding-top: 0px; padding-bottom: 6px; float: left;}
.col-1-3-m {width: 33.33333333%; padding-left: 4px; padding-right: 4px; padding-top: 0px; padding-bottom: 6px; float: left;}
.col-1-3-r {width: 33.33333333%; padding-left: 2px; padding-right: 6px; padding-top: 0px; padding-bottom: 6px; float: left;}

@media (max-width: 800px) {.col-1-3-l, .col-1-3-m, .col-1-3-r {width: 75%; padding-left: 0px; padding-right: 0px; margin-left: 12.5%; margin-right: 12.5%;}}
@media (max-width: 600px) {.col-1-3-l, .col-1-3-m, .col-1-3-r {width: 100%; padding-left: 0.5em; padding-right: 0.5em; margin-left: 0%; margin-right: 0%;}}

/***********************/
/* !col-1-2 */
/***********************/

.col-1-2-l {width: 50%; padding-left: 6px; padding-right: 3px; padding-top: 0px; padding-bottom: 6px; float: left;}
.col-1-2-r {width: 50%; padding-left: 3px; padding-right: 6px; padding-top: 0px; padding-bottom: 6px; float: left;}

.col-1-2-m {width: 50%; padding-left: 4px; padding-right: 4px; padding-top: 0px; padding-bottom: 6px; margin-left: auto; margin-right: auto;}

@media (max-width: 600px) {.col-1-2-l, .col-1-2-r, .col-1-2-m {width: 100%; padding-left: 0.5em; padding-right: 0.5em; margin-left: 0%; margin-right: 0%;}}

/***********************/
/* !col-2-3 */
/***********************/

.col-2-3-l {width: 66.66666666%; padding-left: 6px;	padding-right: 4px;	padding-top: 0px; padding-bottom: 6px; float: left;}
.col-2-3-r {width: 66.66666666%; padding-left: 4px; padding-right: 6px;	padding-top: 0px; padding-bottom: 6px; float: left;}

@media (max-width: 800px) {.col-2-3-l, .col-2-3-r {width: 75%; padding-left: 0px; padding-right: 0px; margin-left: 12.5%; margin-right: 12.5%;}}
@media (max-width: 600px) {.col-2-3-l, .col-2-3-r {width: 100%; padding-left: 0.5em; padding-right: 0.5em; margin-left: 0%; margin-right: 0%;}}

.col-2-3-m {width: 66.66666666%; padding-left: 4px; padding-right: 4px;	padding-top: 0px; padding-bottom: 6px; margin-left: auto; margin-right: auto;}

@media (max-width: 800px) {.col-2-3-m {width: 75%; padding-left: 0px; padding-right: 0px; margin-left: 12.5%; margin-right: 12.5%;}}
@media (max-width: 600px) {.col-2-3-m {width: 100%; padding-left: 0.5em; padding-right: 0.5em; margin-left: 0%; margin-right: 0%;}}


/*****************************/
/* !txt block */
/*****************************/

.txt-block-wide {
	max-width: 600px;
	margin: 0 auto;
}

.txt-block {
	max-width: 522px;
	margin: 0 auto;
}

.txt-block p {
	margin: 0em 0em 2em 0em;
}

.nospace p {
	margin: 0em 0em 0.5em 0em;
}

.txt-block h2 {
	margin: 0em 0em 3em 0em;
	text-align: center;
}

.txt-block h3 {
	margin: 2em 0em 1em 0em;
	color: #D4C9A5;
}

.ref-block h3 {
	margin: 2em 0em 1em 0em;
	color: #D4C9A5;
}

.txt-block h4 {
	margin: 1em 0em 0.5em 0em;
	color: #D4C9A5;
}

.ref-block h4 {
	margin: 2em 0em 1.5em 0em;
}

.txt-block h5 {
	margin: 0.5em 0em;
}

.ref-block h5 {
	padding: .2em .5em;
	margin-bottom: 2px;
	width: 100%;
	font-size: 110%;
	color: #333;
	text-align: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.txt-block ol {
	list-style: decimal outside;
	margin: 0.5em 0em 0.5em 1em;
}

.txt-block ul {
	list-style: disc outside;
	margin: 0.5em 0em 2em 1em;
}

.txt-block ul li {
	margin: 0em 0em 0.7em 0em;
}

.txt-block .spec ul {
	list-style: none outside;
	margin: 1em 0em 2em 0em;
}

.txt-block .spec ul li {
	margin: 0em 0em 0.7em 0em;
}

/*****************************/
/* !param ref block */
/*****************************/


.param-container {
	padding: 7px;
	margin: 0 auto 2em;
	background-color: #262626;
	border: 1px solid #565656;
	border-radius: 5px;
	width: 85%;
}

.ref-block {
	max-width: 500px;
	margin: 0 auto;
}

.param-block p {
	margin: 0em 0em 0em 0em;
	padding: 3px;
/* 	font-size: 90%; */
}

.param-block {
	padding: 5px;
	margin-bottom: 6px;
	background-color: #464646;
	border: 1px solid #626262;
}

.param-block:last-child {
	margin-bottom: 0;
}    
    
.param-block img {
	margin: 0em 0em 3px 0em;
}

/************** module colors **************/

.osca {
	border: 2px solid #F2B888;
	border-radius: 8px;
}

.oscb {
	border: 2px solid #E3D49A;
	border-radius: 8px;
}

.mix {
	border: 2px solid #C3C7CB;
	border-radius: 8px;
}

.fbmix {
	border: 2px solid #E0B9B6;
	border-radius: 8px;
}

.comb {
	border: 2px solid #BAE6BD;
	border-radius: 8px;
}

.svf {
	border: 2px solid #ABD8DE;
	border-radius: 8px;
}

.fx {
	border: 2px solid #B3BBE1;
	border-radius: 8px;
}

/************* module colors bg ***************/

.osca-bg {
	background-color: #F2B888;
/*
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
*/
}

.oscb-bg {
	background-color: #E3D49A;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.mix-bg {
	background-color: #b9b9b9;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.fbmix-bg {
	background-color: #E0B9B6;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.comb-bg {
	background-color: #BAE6BD;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.svf-bg {
	background-color: #ABD8DE;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.fx-bg {
	background-color: #B3BBE1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/************* module colors border ***************/

.osca-bd {
	border: 2px solid #F2B888;
	color: #F2B888;
}

.oscb-bd {
	border: 2px solid #E3D49A;
}

.mix-bd {
	border: 2px solid #C3C7CB;
}

.fbmix-bd {
	border: 2px solid #E0B9B6;
}

.comb-bd {
	border: 2px solid #BAE6BD;
}

.svf-bd {
	border: 2px solid #ABD8DE;
}

.fx-bd {
	border: 2px solid #B3BBE1;
}



.note {
	font-style: italic;
	font-size: 93%;
	background-color: #1f242f;
	padding: .4em .8em;
	margin-bottom: 2em;
	border-radius: 5px;
	border: 1px solid #8a93a4;
	color: #e1e7f3;
}

.note-b {
	font-style: italic;
	font-size: 93%;
	background-color: #383838;
	padding: .4em .8em;
	border-radius: 5px;
	border: 1px solid #7d7d7d;
}

.action {
	padding: 0.4em .5em;
	margin-bottom: 1px;
	font-size: 100%;
	background-color: #333;
	border-left: 5px solid #5bace0;
}

.header {
	background-color: #3a3a3a;
	border-left: 5px solid #D4C9A5;
	padding: .2em .5em;
	margin-bottom: 1px;
	font-size: 100%;
}

.txt-block img {
	margin-top: 5px;
	margin-bottom: 10px;
/* 	border: 1px solid #999; */
}

.img-frame {
	border: 1px solid #898989;
	background-color: #565656;
	padding: 4px;
}

.img-frame-alt {
	border: 1px solid #9e9e9e;
	background-color: #000000;
	padding: 4px;
}

.img-frame-alt-2 {
	border: 1px solid #9e9e9e;
	background-color: #565656;
	border-radius: 4px;
}

.img-frame-alt-3 {
	border: 1px solid #444;
	background-color: #333;
	padding: 4px;
}

.act-bg {
	background-color: #323232;
	padding: 6px;
	margin-top: 2em;
}

@media (max-width: 800px) {.av-block {width: 75%; padding-left: 0px; padding-right: 0px; margin-left: 12.5%; margin-right: 12.5%;}}
@media (max-width: 600px) {.av-block {width: 94%; padding-left: 0em; padding-right: 0em; margin-left: 3%; margin-right: 3%;}}
@media (max-width: 800px) {.col-alt {width: 100%; padding-left: 6px; padding-right: 6px; margin-left: 0%; margin-right: 0%;}}
@media (max-width: 600px) {.col-alt {width: 100%; padding-left: 0.5em; padding-right: 0.5em; margin-left: 0%; margin-right: 0%;}}
@media (max-width: 800px) {.col-alt-2 {width: 100%; padding-left: 0em; padding-right: 0em; margin-left: 0%; margin-right: 0%;}}
/* @media (max-width: 600px) {.col-alt-2 {width: 100%; padding-left: 0em; padding-right: 0em; margin-left: 0%; margin-right: 0%;}} */

/*****************************/
/* !table */
/*****************************/

td {
	background-color: #3e3e3e;
	padding: 0.2em 0.5em;
	vertical-align: center;
	font-size: 95%;
}

th {
	background-color: #6d6d6d;
	font-weight: 400;
	text-align: left;
	padding: 0.5em 0.5em;
}

.t-col-1 { 
	color: #FFF6DA;
}

/***********************************/
/* ! reference-table units/scaling */
/***********************************/

.ref-table {
	border-collapse: collapse;
}

.ref-table td:first-child {
	width: 6em;
	font-weight: 400;
	text-align: center;
	color: #D4C9A5;
}

.ref-table tr {
	border-top: 2px solid #000;
}

.ref-table td {
	padding: 0.3em 0.7em;
}

.ref-table caption {
	padding: 0.2em 0.5em;
	font-size: 110%;
}

/***********************************/
/* ! known issues table */
/***********************************/

.known {
	border-collapse: collapse;
}

.known td {
	font-size: 90%;
	padding: 0.3em 0.7em;
	border: 1px solid #222;
}

.known th {
	border: 1px solid #222;
}

/*******************************/
/* !parameter reference table */
/*******************************/

.reftab {
	border-collapse: collapse;
	margin: 2em 0em;
	border: 5px solid #262626;
}

.reftab a {
	width: 100%;
	display: inline-block;
	border: 1px solid #0C0C0C;
	border-radius: 4px;
	color: #262626;
	text-align: center;
	font-weight: 400;
	padding: 4px;
}

.reftab a:hover {
	background-color: #e8e8e8;
}

.reftab p {
	width: 100%;
	display: inline-block;
	background-color: #535353;
	border: 1px solid #0C0C0C;
	text-align: center;
	font-weight: 400;
	padding: 4px;
	border-radius: 4px;
}

.reftab td {
	width: 25%;
	margin: 0;
	padding: 2px 4px;
	background-color: #262626;
}

.reftab th {
	padding: 4px 4px;
	background-color: #262626;
}

/*****************************/
/* !number list */
/*****************************/

.nmb ul {
	list-style: none outside;
	margin: 1em 0em 0em 0em;
}

.nmb ul li {
	margin: 0.5em 0em 0.5em 0em;
}

.nmb ol {
	list-style-type: none;
	counter-reset: item;
	margin: 1em 0em 0em 1.3em;
}

.nmb ol li {
	margin: 0em 0em 0.5em 0em;
}

.nmb-eng ol li {
	margin: 0.1em 0em 0.1em 0em;
}

.nmb ol li ol {
	margin: 0em 0em 0em 1.5em;
}

.nmb ol li ol li {
	margin: 0.1em 0em 0.1em 0.5em;
}

.nmb li::before {
	counter-increment: item;
	content:  "." counters(item, ".");
	display: inline-block;
	width: 1em;
	margin-left: -1.5em;
	margin-right: 0.5em;
	text-align: right;
	direction: rtl;
}

.nmb .fett::before {
	font-weight: 400;
}

/*****************************/
/* !grid table shortcuts */
/*****************************/

.grid-shortcuts {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1px 0px;
	font-size: 95%;
}

.grid-shortcuts div {
	background-color: #3e3e3e;
	padding: 5px 7px;
}

.grid-header {
	background-color: #555;
	color: #fff;
	margin: 1px 0px 1px 0px !important;
	padding: 5px 7px;
	font-weight: 400;
	letter-spacing: 0.03em;
}

/*****************************/
/* !diverse */
/*****************************/

input[type="range"] {
	background-color: #333;	
}

/*
input[type="range"] .slider-thumb {
	background-color: #ff0000;	
}

input[type="range"]::-moz-range-thumb {
	background-color: #ff0000;	
}

input[type="range"]::-webkit-slider {
	background-color: #ff0000;	
}

input[type="range"]::-ms-thumb {
	background-color: #ff0000;	
}
*/

.img-caption {
	font-style: italic;
	font-weight: 300;
 	margin-right: 7px;
 	background-color: #333;
	color: #bbb;
	padding: 0.3em 0.6em;
	border-top: 1px solid #000;
    font-size: 95%;
}

/*****************************/
/* !imagehover */
/*****************************/

/*
#hoverbox {
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	vertical-align: middle;
	margin: 0;
	overflow: hidden;
}
*/

#hoverbox svg {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
}

.rollover {	
	cursor: pointer;
	opacity: .6;
	position: relative;
	display: inline-block;
}

.rollover:hover {
	opacity: 1;
	visibility: visible;
}

.aaa {
	fill: rgb(55, 127, 237);
	fill-opacity: 0.4;
	stroke-width: 3px; 
	stroke: rgb(55, 127, 237); 
	stroke-opacity: 1;
}

.aaa:hover {
	fill: rgb(147, 190, 255); 
	fill-opacity: .8;
	stroke-width: 3px; 
	stroke: rgb(53, 122, 225); 
	stroke-opacity: 1;
}

.bbb {
	fill-opacity: 0;
	stroke-width: 3px; 
	stroke: rgb(147, 190, 255); 
	stroke-opacity: 1;
}

.bbb:hover {
	fill: rgb(147, 190, 255); 
	fill-opacity: .2;
	stroke-width: 3px; 
	stroke: rgb(147, 190, 255); 
	stroke-opacity: 1;
}

.tooltip {
	cursor: pointer;
	position: relative;
	display: inline-block;	
	opacity: 0;
}

/*
.tooltip:hover {
	opacity: .5;
	visibility: visible;
}
*/

.tooltip:hover  .tooltip-txt {
	opacity: .5;
	visibility: visible;
	width: 150px;
	background-color: #777;
	color: #000;
	text-align: center;
	padding: 5px;
	position: absolute;
	z-index: 1;
/* 	bottom: 125%; */
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltip-txt {
	visibility: visible;
	opacity: 1;
}


/*****************************/
/* !to top */
/*****************************/

#totop {
	width: 48px;
	height: 48px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 5;
}

#totop a:link {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
	background: url("images/totop.png") no-repeat;
	background-position: 0px 0px;
}

#totop a:hover {
	background-position: 0px -48px;
}

#totop a:active {
	background-position: 0px -96px;
}


/*****************************/
/* !helpers */
/*****************************/

.block {
	display: block;
}

.tab {
	display: inline-block;
	width: 2em;
}

.nodisplay {display: none;}

.hide {visibility: hidden;}

.clearfix:before, .row:before, .footer-wrapper:before {
	display: table;
	content: " ";
}

.clearfix:after, .row:after, .footer-wrapper:after {
	display: table;
	content: " ";
	clear: both;
}

.bg-white {background-color: #fff;}
.bg-light {background-color: #ececec;}

.center {
	margin: auto; 
	display: block; 
	float: none;
}

.line {
	width: 100%; 
	height: 1px;
	background-color: #a2a2a2;	
	clear: both;
}

.blue {
	color: #9ECAFF;	
}

.yellow {
	color: #D4C9A5;	
}

.fw400 {
	font-weight: 400;
}

.bg-light {
	background-color: #555;
}


a.blocked a.blocked:focus, a.blocked:link, a.blocked:visited, a.blocked:hover, a.blocked:active{
	text-decoration: line-through;
}

.half {
    display: inline-block;
    width: 49%;
}

.third {
    display: inline-block;
    width: 32%;
}

@media (max-width: 500px) {
	.third, .half {
	width: 100%;
	}
}

/********** tooltip-b **********/

.tooltip-b {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-b .tooltiptext {
    opacity: 0;
    transition: opacity 0.8s;
    background-color: #222936;
    color: #f0e4c3;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 87%;
    z-index: 1;
	border: 2px solid #6f99c3;
	box-shadow: 0px 0px 2px 2px #000;
}

.tooltip-b:hover .tooltiptext {
    opacity: 1;
}

.tt-sym {
    opacity: 0;
    transition: opacity 2s;
	font-size: 130%;
	text-align: center;
	display: inline-block;
	line-height: 100%;
	background-color: #f0e4c3;
	color: #222936;
	border-radius: 100%;
	width: 1em;
}

.tooltip-b:hover .tt-sym {
    opacity: 1;
}

/********** screw **********/

.screw {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 291px;
	margin-left: -146px;
	width: 310px;
	height: 310px;
	background: url("setup-c15/images/schraube.png") no-repeat center center transparent;
	animation-duration: 3s;
	animation-name: rotate;
	animation-iteration-count: infinite;
	z-index: 2;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/********** alignment **********/

.right-center {float: right;}
@media (max-width: 800px) {.right-center {float: none; margin-left: auto; margin-right: auto;}}

.left-center {float: left;}
@media (max-width: 800px) {.right-center {float: none; margin-left: auto; margin-right: auto;}}

.left-txt {text-align: left;}

.right-txt {text-align: right;}

.center-txt {text-align: center;}

.left-center-txt {text-align: left;}
@media (max-width: 800px) {.left-center-txt {text-align: center;}}

.right-center-txt {text-align: right;}
@media (max-width: 800px) {.right-center-txt {text-align: center;}}


/********** spacer **********/

.m03 {margin: 0.3em;}
.m05 {margin: 0.5em;}

.mt0 {margin-top: 0em;}
.mt03 {margin-top: 0.3em;}
.mt05 {margin-top: 0.5em;}
.mt07 {margin-top: 0.7em;}
.mt1 {margin-top: 1em;}
.mt2 {margin-top: 2em;}
.mt3 {margin-top: 3em;}
.mt5 {margin-top: 5em;}

.mb0 {margin-bottom: 0em;}
.mb0i {margin-bottom: 0em !important;}
.mb03 {margin-bottom: 0.3em;}
.mb05 {margin-bottom: 0.5em;}
.mb05i {margin-bottom: 0.5em !important;}
.mb1 {margin-bottom: 1em;}
.mb1i {margin-bottom: 1em !important;}
.mb2 {margin-bottom: 2em;}
.mb2i {margin-bottom: 2em !important;}
.mb3 {margin-bottom: 3em;}
.mb3i {margin-bottom: 3em !important;}
.mb5 {margin-bottom: 5em;}

.p1 {padding: 1em;}

.p03 {padding: 0.3em;}
.p05 {padding: 0.5em;}


.pt0 {padding-top: 0em;}
.pt03 {padding-top: 0.3em;}
.pt05 {padding-top: 0.5em;}
.pt1 {padding-top: 1em;}
.pt2 {padding-top: 2em;}
.pt3 {padding-top: 3em;}
.pt5 {padding-top: 5em;}

.pb0 {padding-bottom: 0em;}
.pb03 {padding-bottom: 0.3em;}
.pb05 {padding-bottom: 0.5em;}
.pb1 {padding-bottom: 1em;}
.pb3 {padding-bottom: 3em;}
.pb2 {padding-bottom: 2em;}
.pb5 {padding-bottom: 5em;}

.w10 {width: 10%;}
.w20 {width: 20%;}
.w30 {width: 30%;}
.w40 {width: 40%;}
.w50 {width: 50%;}
.w60 {width: 60%;}
.w70 {width: 70%;}
.w80 {width: 80%;}
.w90 {width: 90%;}

.flex-mt-6 {margin-top: 5.5em;}
@media (max-width:800px) {.flex-mt-6 {margin-top: 0.5em;}}

.flex-pr-3 {padding-right: 3em;}
@media (max-width: 800px) {.flex-pr-3 {padding-right: 0em;}}

.flex-pl-3 {padding-left: 3em;}
@media (max-width: 800px) {.flex-pl-3 {padding-left: 0em;}}

.flex-ml-3 {margin-left: 3em;}
@media (max-width: 600px) {.flex-ml-3 {margin-left: 0em;}}

.flex-mr-3 {margin-right: 3em;}
@media (max-width: 600px) {.flex-mr-3 {margin-right: 0em;}}

.flex-mb-05 {margin-bottom: 0em;}
@media (max-width: 800px) {.flex-mb-05 {margin-bottom: 0.5em;}}

/********** diagramme **********/

.dia {max-width: 45em; margin: 0 auto;}
.dia-2 {max-width: 62em; margin: 0 auto;}

.tbl {max-width: 45em; margin: auto;}
@media (max-width: 800px) {.tbl {font-size: 90%; line-height: 95%;}}

/* px */

.m-7-10 {margin: 7px 10px;}

.ml-5 {margin-left: 5px;}
.mr-5 {margin-right: 5px;}
.mb-5 {margin-bottom: 5px;}

.b-1 {border: 1px solid #c6c6c6;}

.mh {min-height: 145px;}
@media (max-width: 800px) {.mh {min-height: 80px;}}


/* plotting and control input stylings (shaper, modulation) */

canvas.plot {
	position: relative;
	display: block;
	width: 100%;
	height: 250px;
}

div.ctrl-panel {
	display: block;
	position: relative;
	width: 100%;
	padding: 0.5em;
	text-align: center;
}
div.control {
	display: inline-block;
	position: relative;
	text-align: center;
	margin-right: 0.5em;
}
div.control header {
	display: block;
	position: relative;
	padding: 0.25em;
	font-weight: 400;
}
div.control input.horiSlider {
	-webkit-appearance: slider-horizontal;
}
div.control input.vertSlider {
	-webkit-appearance: slider-vertical !important;
	width: 10px !important;
    height: 100% !important; 
    background-color: #ff0;
}
div.control footer {
	font-size: 85%;
	font-style: italic;
	padding: 0.25em;
}

/*****************************/
/* !slider */
/*****************************/

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 125px;
    height: 10px;
    background: #000;
    outline: none;
    border: 1px solid #525975;
	border-radius: 5px;
/* 	margin: 1em auto; */
}

input[type="range"]::-moz-range-thumb {
    cursor: pointer;
}

.slider-a::-moz-range-thumb {
	width: 14px;
    height: 14px;
    background: rgba(210, 200, 165, 1);
   	border-radius: 7px;
   	border: 1px solid #000;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: red;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #333;
    border: 1px solid #999;
    border-radius: 8px;
}

.slider-a::-webkit-slider-thumb {
	width: 14px;
    height: 14px;
    background: #E8A043;
   	border-radius: 7px;
   	border: 1px solid #000;
}

input[type="range"]::-moz-range-track {
    background: transparent;
}