[Unit]
Description=Configure PWM and permissions for LCD backlight
#After=systemd-modules-load.service
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/configure-lcd-pwm.sh

[Install]
#WantedBy=multi-user.target
WantedBy=graphical.target
