@font-face{
    font-family: 'SSP-LW00';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('images/SSP-LW00-Light.otf') format("opentype");
}

@font-face{
    font-family: 'SSP-LW00';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('images/SSP-LW00-Regular.otf') format("opentype");
}

@font-face{
    font-family: 'SSP-LW00';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('images/SSP-LW00-Semibold.otf') format("opentype");
}

@font-face{
    font-family: 'SSP-LW25';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('images/SSP-LW25-Light.otf') format("opentype");
}

@font-face{
    font-family: 'SSP-LW25';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('images/SSP-LW25-Regular.otf') format("opentype");
}

@font-face{
    font-family: 'SSP-LW25';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('images/SSP-LW25-Semibold.otf') format("opentype");
}
